<mat-toolbar color="primary" class="mat-elevation-z4 custom-toolbar">
	<mat-icon>home</mat-icon>
	<span class="pl1">Tech Challenge</span>
</mat-toolbar>

<div class="container">
	<div class="mat-title">Instructions</div>
	<ol>
		<li>
			Upload a Image File that needs to processed to S3 bucket.
		</li>
		<li>
			Navigate to the Sagemaker Portal to complete the human labelling task.
		</li>
		<li>
			View the Extracted information from the image.
		</li>
	</ol>

	<mat-vertical-stepper>
		<mat-step>
			<ng-template matStepLabel>
				Image Upload to S3 Bucket.
			</ng-template>
			<div class="image-uploader-container">
				<div class="image-uploader" (drop)="drop($event)" (dragover)="allowDrop($event)">
					<div class="mat-h3">Drag and Drop Image File Here</div>
					<div class="mat-h4">or</div>
					<button mat-flat-button color="primary">Click here to Upload Image</button>
				</div>
				<div class="uploaded-image-preview" *ngIf="uploadedImage">
					<img [src]="uploadedImage" width="200" height="200">
        </div>
				</div>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>
				Navigate to Sagemaker Portal to complete the labelling task.
			</ng-template>
			<a mat-raised-button
				href="https://sagemaker-groundtruth-workteam-hsklfxwjb.auth.us-east-1.amazoncognito.com/login?client_id=67jijslfblt5a00b1f607od7ie&redirect_uri=https%3A%2F%2F5xw5vqy6n3.labeling.us-east-1.sagemaker.aws%2Foauth2%2Fidpresponse&response_type=code&scope=openid&state=Qh0DXR4i24fVnT%2FGDROU2QLesXBmdBuP5X4Ejo7xsDP%2Fho123ncc%2FlgNtIeFNLL49%2BZJNWro%2FVXUbWHTX1YfoAHv0HLKrJy8Re%2FlL%2Ba1f2C4728yOiswOV1YekrjPdwV6r7%2BpUj5k%2F1xWzwS5Uwx19uzkE77ZbAUjcN0r0PdLiAwXRApBymJwNcQC8tH7t8spSe18ceV"
				target="_blank" color="primary">Click Here to navigate to Sagemaker Labelling Portal.</a>
		</mat-step>
		<mat-step>
			<ng-template matStepLabel>
				Verify Results.
			</ng-template>
		</mat-step>
	</mat-vertical-stepper>

</div>