p {
  font-family: "Courier New", Courier, monospace;
}

.flex-auto {
  flex: 1 auto;
}

.container {
  padding: 0.5rem 1rem;
  margin: 0.5rem 1rem;
}

.image-uploader {
  max-width: 480px;
  padding: 1.5rem;
  border: 1px dotted;
  text-align: center;
}
